<div class="container">
    <div class="header">
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </nav>
    </div>
<nav>
    <ul>
        <li><a href="#"><i class="fa fa-home"></i>&nbsp;  Home</a></li>
        <li><a href="#"><i class="fa fa-book"></i>&nbsp;  Book</a></li>
        <li><a href="#"><i class="fa fa-users"></i>&nbsp;  Users</a></li>
        <li><a href="#"><i class="fa fa-picture-o"></i>&nbsp;  Pictures</a></li>
        <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Contact</a></li>
    </ul>
</nav>

<div class="wrapper">
    <div class="section">
        <div class="box-area">
            <h2>Home</h2>
        </div>
        
    </div>
</div>
 <div class="content">
    <div class="header">
       Main content goes here
    </div>
    
 </div>