<div class="wrapper">
    <div class="section">
        <div class="box-area">
            <nav>
                <ul>
                    <li><a routerLink="/dashboard">Dashboard</a></li>
                    <li><a routerLink="/employeedtls">Employee</a></li>
                    <li><a routerLink="/dbconnections">DBConnections</a></li>
                    <li><a routerLink="/courselist">CourseList</a></li>
                    <li><a routerLink="/login" routerLinkActive="active">LogOut</a></li>
                </ul>
            </nav>
            <ng-template>
                <div class="example-wrapper">
                    <kendo-dialog *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
                        <kendo-dialog-titlebar
                            style="width:250;min-width: 250;padding: 9px 13px;margin: 0 -1px 10px;background-color: #235dd3;">
                            <div class="delete-font">
                                <span> Delete</span>
                            </div>
                        </kendo-dialog-titlebar>
                        <div>
                            <p style="margin: 35px; text-align: center;text-align-last: left;">Are you sure you want to
                                delete this record</p>

                        </div>
                        <kendo-dialog-actions>
                            <button kendoButton (click)="deleteEmployee()">Ok</button>
                            <button kendoButton (click)="close('cancel')">Cancel</button>
                        </kendo-dialog-actions>
                    </kendo-dialog>
                </div>
            </ng-template>
            <ng-template>
                <div>
                    <p>{{viewLocalStorageValue}}</p>
                </div>
            </ng-template>
            <ng-template #content let-c="close" let-d="dismiss">
                <!--<kendo-popup [anchor]="anchor" (anchorViewportLeave)="show = false" *ngIf="show">-->

                <div class="content">

                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4 style="display: inline-block">Employee Details</h4>
                            </div>
                        </div>
                    </div>

                    <div style="width: auto">
                        <div class="container">
                            <form>

                                <!--<div class="form-group">
                                                            <label for="Name"><span class="req">* </span> Id: <small></small> </label>
                                                            <input required type="text" [(ngModel)]="employeeModal.id" name="id" id="id"
                                                                class="form-control" maxlength="28" placeholder=""
                                                                [ngModelOptions]="{standalone: true}" />
                                                        </div>-->
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label for="Name"><span class="req">* </span> Name: <small></small> </label>
                                        <input required type="text" [(ngModel)]="employeeModal.name" name="name"
                                            id="name" class="form-control" maxlength="28" placeholder=""
                                            [ngModelOptions]="{standalone: true}" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="salary"><span class="req">* </span> Salary: </label>
                                        <input class="form-control" type="text" [(ngModel)]="employeeModal.salary"
                                            name="salary" id="txt" required placeholder=""
                                            [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label for="empsections"><span class="req">* </span> Employee Sections: </label>
                                        <input class="form-control" type="text" [(ngModel)]="employeeModal.empsections"
                                            name="empsections" id="txt" required placeholder=""
                                            [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </div>


                                <div class="modal-footer ">
                                    <button kendoButton type="button" class=" btn-light" name="submit_reg"
                                        (click)="registerNow()">Register </button>
                                    <button kendoButton type="button" class=" btn-light"
                                        (click)="c('Close click');getEmployeeClosedData()">Close</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
                <!--</kendo-popup> [pageSize]="20" [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" -->
            </ng-template>
            <div class="example-config ">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-blue">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4 style="display: inline-block;text-align: right;">Employee Details</h4>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <img class="img-responsive" (click)="invokeEmployeeMethodAdd()"
                                                src="./assets/images/Add.png">
                                            <img class="img-responsive" (click)="editEmployee()"
                                                src="./assets/images/Edit.png">
                                            <img class="img-responsive" (click)="deleteEmployeeRecord()"
                                                src="./assets/images/Delete.png">
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div>
                                <kendo-grid [selectable]="true" [data]="employeeGridData" kendoGridSelectBy="id"
                                    [(selectedKeys)]="mySelection1" [loading]="loading" [sortable]="true"
                                    [reorderable]="true" [filterable]="true" [columnMenu]="{ filter: true }"
                                    [resizable]="true" style="height: 400px; width: 1020px;"
                                    (dataStateChange)="dataStateChange($event)">
                                    <!-- <kendo-grid [selectable]="true" [data]="employeeGridView" kendoGridSelectBy="id" [(selectedKeys)]="mySelection1"
                [pageSize]="20" [pageable]="true" [sortable]="true" [sort]="state.sort" [filter]="state.filter" [groupable]="true" [reorderable]="true"
                    [resizable]="true" [height]="500" [columnMenu]="{ filter: true }" (dataStateChange)="dataStateChange($event)">-->
                                    <kendo-grid-checkbox-column [width]="45" [headerClass]="{'text-center': true}"
                                        [class]="{'text-center': true}" [resizable]="false" [columnMenu]="false"
                                        [showSelectAll]="true">
                                    </kendo-grid-checkbox-column>
                                    <kendo-grid-column field="id" title="Employee Id">
                                        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                                            <kendo-grid-numeric-filter-cell [column]="column" [filter]="filter">
                                            </kendo-grid-numeric-filter-cell>
                                        </ng-template>
                                    </kendo-grid-column>

                                    <kendo-grid-column field="name" title="Employee Name">
                                        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                                            <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                                            </kendo-grid-string-filter-cell>
                                        </ng-template>
                                    </kendo-grid-column>

                                    <kendo-grid-column field="salary" title="Employee Salary">
                                        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                                            <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                                            </kendo-grid-string-filter-cell>
                                        </ng-template>
                                    </kendo-grid-column>

                                    <kendo-grid-column field="empsections" title="Employee Sections">
                                        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                                            <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                                            </kendo-grid-string-filter-cell>
                                        </ng-template>
                                    </kendo-grid-column>

                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- <kendo-grid [data]="gridData" kendoGridSelectBy="id" [(selectedKeys)]="mySelection"
                    [pageSize]="20" [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true"
                    [resizable]="true" [height]="500" [columnMenu]="{ filter: true }">
                    <ng-template kendoGridToolbarTemplate>
                        <input [style.width.px]="165" placeholder="Search in all columns..." kendoTextBox
                            (input)="onFilter($event)" />
                        <kendo-grid-spacer></kendo-grid-spacer>
                        <button kendoGridExcelCommand type="button" icon="file-excel">Export to Excel</button>
                        <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
                    </ng-template>
                    <kendo-grid-checkbox-column [width]="45" [headerClass]="{'text-center': true}"
                        [class]="{'text-center': true}" [resizable]="false" [columnMenu]="false" [showSelectAll]="true">
                    </kendo-grid-checkbox-column>
                    <kendo-grid-column-group title="Employee" [columnMenu]="false">
                        <kendo-grid-column field="full_name" title="Contact Name" [width]="220">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div class="customer-photo" [ngStyle]="{'background-image' : photoURL(dataItem)}"></div>
                                <div class="customer-name">{{ dataItem.full_name }}</div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="job_title" title="Job Title" [width]="220">
                        </kendo-grid-column>
                        <kendo-grid-column field="country" title="Country" [width]="100" [class]="{'text-center': true}"
                            [resizable]="false">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <img class="flag" [src]="flagURL(dataItem)" [width]="30">
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="is_online" title="Status" [width]="100"
                            [class]="{'text-center': true}" [resizable]="false" filter="boolean">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span *ngIf="dataItem.is_online === true" class="badge badge-success">Online</span>
                                <span *ngIf="dataItem.is_online === false" class="badge badge-danger">Offline</span>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid-column-group>
                    <kendo-grid-column-group title="Performance" [columnMenu]="false">
                        <kendo-grid-column field="rating" title="Rating" [width]="110" [resizable]="false"
                            filter="numeric">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <kendo-rating [value]="dataItem.rating" [max]="5"></kendo-rating>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="target" title="Engagement" [width]="230" [resizable]="false"
                            filter="numeric">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <kendo-sparkline type="bar" [data]="dataItem.target" [tooltip]="{visible: false}"
                                    [transitions]="true"
                                    [seriesDefaults]="{labels: {background: 'none', visible: true, format: '{0}%'}}">
                                    <kendo-chart-area [opacity]="0" [width]="200"></kendo-chart-area>
                                    <kendo-chart-value-axis>
                                        <kendo-chart-value-axis-item [min]="0" [max]="130">
                                        </kendo-chart-value-axis-item>
                                    </kendo-chart-value-axis>
                                </kendo-sparkline>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="budget" title="Budget" [width]="100" filter="numeric">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span [ngClass]="{'red text-bold': dataItem.budget < 0}">{{ dataItem.budget | currency
                                    }}</span>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid-column-group>
                    <kendo-grid-column-group title="Contacts" [columnMenu]="false">
                        <kendo-grid-column field="phone" title="Phone" [width]="130">
                        </kendo-grid-column>
                        <kendo-grid-column field="address" title="Address" [width]="200">
                        </kendo-grid-column>
                    </kendo-grid-column-group>

                    <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
                    <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
                </kendo-grid>-->
            </div>
        </div>
    </div>
</div>